* {
  border: none;
  border-radius: 0px;
  font-family: "Iosevka Nerd Font";
  font-weight: 600;
  font-size: 14px;
  min-height: 0;
  opacity: 1.0;
}

window#waybar {
    background: none;
}

tooltip {
  background: #1a1b26;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
  opacity: 1.0;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
  /* margin-left: 10px; */
}

#workspaces button.active {
  color: #89b4fa;
  background: #1a1b26;
}

#workspaces button.focused {
  color: #707880;
  background: #eba0ac;
  border-radius: 7px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #f28fad;
  border-radius: 7px;
  opacity: 0.5;
}

#workspaces button:hover {
  background: #11111b;
  color: #c0caf5;
  border-radius: 17px;
}

/* #custom-power_profile, */
/* #custom-weather, */

#window,
#clock,
#battery,
#mpris,
#pulseaudio,
#custom-pacman,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#mpd,
#custom-pomodoro,
#cpu,
#memory,
#custom-spotify,

#modbackground {
  background: #1a1b26;
  opacity: 1.0;
  padding: 0px 7px;
  margin-top: 5px;
  /*  margin-bottom: 5px; */
  /* border: 1px solid #b5b0a7; */
}

#backlight {
  border-radius: 7px 0px 0px 7px;
  background: #1a1b26;
  opacity: 1.0;
  padding: 0px 7px;
  margin-top: 5px;
  margin-bottom: 6px;
}

#pulseaudio {
  color: #89b4fa;
  border-radius: 0px;
  border-left: 0px;
  border-radius: 7px 0px 0px 7px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#cpu {
  color: #89dceb;
  border-radius: 7px 0px 0px 7px;
}

#memory {
  color: #94e2d5;
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#tray {
  border-radius: 7px;
  margin-right: 5px;
}

#workspaces {
  background: #1a1b26;
  border-radius: 7px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  opacity: 1.0;
}

/* #custom-power_profile { */
/*   color: #a6e3a1; */
/*   border-left: 0px; */
/*   border-right: 0px; */
/* } */

#window {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 60px;
  opacity: 1.0;
}

#clock {
  color: #fab387;
  border-radius: 7px;
  /* margin-left: 10px; */
  margin-right: 5px;
  /* margin-left: 5px; */
  padding-right: 0px;
  border-right: 0px;
  opacity: 1.0;

}

#network {
  color: #f9e2af;
  border-radius: 7px;
  margin-right: 5px;
  border-left: 0px;
  border-right: 0px;
  opacity: 1.0;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 7px;
  margin-right: 5px;
  opacity: 1.0;
}

#battery {
  color: #a6e3a1;
  border-radius: 7px;
  margin-right: 5px;
  border-left: 0px;
}

#custom-spotify {
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
  opacity: 1.0;
}

#mpris {
  color: #c0caf5;
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}

#mpris.paused {
  color: #c0caf5;
  border-bottom: 2px solid @yellow;
}

#mpd {
  color: #c0caf5;
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}

#mpd.paused {
  color: #c0caf5;
  border-bottom: 2px solid @yellow;
}
