* {
    border-radius: 5px;
    font-family: "Iosevka Nerd Font";
}

window {
    font-size: 14px;
    opacity: 1.0;
    border-radius: 5px;
    border: 2px solid rgba(122, 162, 247, 0.67);
    background-color: #1A1B26;
}

image {
    margin-left: .25em;
    margin-right: .25em;
}

#input {
    background: #1A1B26;
    border-radius: 5px;
    border: 1px solid #7aa2f7aa;
    outline: none;
    box-shadow: none;
}

#input:focus {
    border: 1px solid #7aa2f7aa;
    outline: none;
    box-shadow: none;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1A1B26;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1A1B26;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
}

#entry {
    background-color: #1A1B26;
    border: none;
    outline: none;
    box-shadow: none;
}

#entry:selected {
    background-color: #12121e;
    border: none;
    outline: none;
    box-shadow: none;
}

#mode-switcher button {
    background-color: #1A1B26;
}

#mode-switcher button:selected {
    background-color: #12121e;
}
