* {
    border-radius: 3px;
}


window {
    font-size: 18px;
    font-family: "Iosevka Nerd Font";
    opacity: 1.0;
    border-radius: 5px;

}

image {
    margin-left: .25em;
    margin-right: .25em;
}

#input {
    border-radius: 5px;
}
